@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */
body {
  font-family: 'Outfit', sans-serif;
  background-color: #262626;
}

/* GRID BACKGROUND (DIKONTROL) */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image:
    linear-gradient(rgba(77,255,190,0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(77,255,190,0.04) 1px, transparent 1px);
  background-size: 32px 32px;
}

@keyframes gradient {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}