@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */
body {
  font-family: 'Outfit', sans-serif;
  background-color: #262626;
}

/* GRID BACKGROUND (DIKONTROL) */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image:
    linear-gradient(rgba(77,255,190,0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(77,255,190,0.04) 1px, transparent 1px);
  background-size: 32px 32px;
}
